<div class="container">

<script>
  var defaults = <%= (!!choose_building).to_s %>;
</script>

<% if flash[:printer] && flash[:user] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= t("success.html", :count => flash[:count], :printer => flash[:printer], :user => flash[:user]) %>
  </div>
<% elsif @print.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= t(:something_bad_happened) %></strong>
    <ul>
      <% @print.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12 advertisement">
    <!-- OpenX body script -->
    <script type="text/javascript">
        OX_731328f5e6.showAdUnit("536881370");
    </script><noscript><iframe id="731328f5e6" name="731328f5e6" src="//ox-d.oncampusweb.com/w/1.0/afr?auid=536881370&cb=INSERT_RANDOM_NUMBER_HERE" frameBorder="0" frameSpacing="0" scrolling="no" width="728" height="90"><a href="//ox-d.oncampusweb.com/w/1.0/rc?cs=731328f5e6&cb=INSERT_RANDOM_NUMBER_HERE"><img src="//ox-d.oncampusweb.com/w/1.0/ai?auid=536881370&cs=731328f5e6&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe></noscript>
  </div>
</div>

<br/>

<h4 class="text-center">
Print@CU is in the process of reverting back to the old NINJA printing system: <a href="http://columbiaspectator.com/news/2014/09/18/following-student-complaints-cuit-will-return-old-printer-system" target="_blank">CUIT Returns to Old Printer System</a></h4>

<br/>
<br/>

<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 advertisement">
    <!-- OpenX body script -->
    <script type="text/javascript">
        OX_731328f5e6.showAdUnit("536881372");
    </script><noscript><iframe id="731328f5e6" name="731328f5e6" src="//ox-d.oncampusweb.com/w/1.0/afr?auid=536881372&cb=INSERT_RANDOM_NUMBER_HERE" frameBorder="0" frameSpacing="0" scrolling="no" width="300" height="250"><a href="//ox-d.oncampusweb.com/w/1.0/rc?cs=731328f5e6&cb=INSERT_RANDOM_NUMBER_HERE"><img src="//ox-d.oncampusweb.com/w/1.0/ai?auid=536881372&cs=731328f5e6&cb=INSERT_RANDOM_NUMBER_HERE" border="0" alt=""></a></iframe></noscript>
  </div>
  <div class="col-lg-4"></div>
</div>

</div>
