$navbar-default-bg: #75B2DD;
$navbar-default-brand-color: #FFF;
$navbar-default-brand-hover-color: #FFF;

$font-family-sans-serif: 'Open Sans', sans-serif;

@import "twitter/bootstrap";
@import "select2";
@import "print";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.advertisement {
  text-align: center;
}