$navbar-default-bg: #75B2DD;
$navbar-default-brand-color: #FFF;
$navbar-default-brand-hover-color: #FFF;

$font-family-sans-serif: 'Open Sans', sans-serif;

@import "twitter/bootstrap";
@import "select2";
@import "print";