.choose-destination {
  text-align: center;
}

.divider {
  font-family: 'Ubuntu';
  font-size: 100px;
  line-height: 0px;
  text-align: center;
  margin-top: 60px;
}

footer {
    margin-top: 18px;
    padding-top: 17px;
    border-top: 1px solid #EEE;

    p {
      text-align: center;

      a {
        color: #404040;
      }

      a:hover {
        color: #404040;
      }
    }

    .disclaimer {
      font-size: 8pt;
      color: #BBBBBB;
    }

    .disclaimer a {
      color: #BBBBBB;
    }

    .disclaimer a:hover {
      color: #BBBBBB;
    }
}

.select2-container {
  width: 100%;
}

.select2-container .status {
  float: left;
  margin-top: 5px;
  margin-right: -15px;  
}

.select2-results .status {
  margin-right: 6px;
}

.status.green {
  background-color: #3ADC1C;
}

.status {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.status.red {
  background-color: #C00000;
}

.status.yellow {
  background-color: #F0F090;
}

.printatcu-dragdrop {
  text-align: center;
  line-height: 90px !important;
  margin: 6px 0px 0px 0px !important;
}