%header.page-header
  %h1 Print@Penn

- if flash[:printer] && flash[:user]
  .alert.alert-success.alert-block
    %a.close{data: {dismiss: "alert"}} &times;
    = t("success.html", :count => flash[:count], :printer => flash[:printer], :user => flash[:user])
- elsif @print.errors.any?
  .alert.alert-error.alert-block
    %a.close{data: {dismiss: "alert"}} &times;
    %h4.alert-heading=t(:something_bad_happened)
    %ul
      - @print.errors.full_messages.each do |msg|
        %li= msg
- else
  .alert.alert-info.alert-block
    %a.close{data: {dismiss: "alert"}} &times;
    %h4.alert-heading.spring_fling="Spring Fling 2012 is going to be awesome!!!"