%head
  %meta{charset: "utf-8"}
  %meta{name: "description", content: meta_description}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %title Print@CU
  = stylesheet_link_tag "application"
  %link{href: "//fonts.googleapis.com/css?family=Ubuntu", rel: "stylesheet", type: "text/css"}
  = javascript_include_tag "application"
  = csrf_meta_tags
  :javascript
    var printers = #{$printers.to_json.html_safe};

