<!DOCTYPE html>
<html>
  <%= render "application/head" %>
  <body>
    <div id="wrap">
      <%= render "application/header" %>
      <%= yield %>
    </div>
    <%= render "application/footer" %>
  </body>
</html>
